*.exe
*.o
*.lev
binary/defaults.nh
binary/Guidebook.txt
binary/license
binary/logfile
binary/NetHack.txt
*.dll
binary/nhdat
binary/opthelp
binary/record
*.dsp
*.tag
util/lev_yacc.c
util/lev_flex.c
util/dgn_yacc.c
util/dgn_flex.c
build/dgnstuff.mak
build/levstuff.mak
build/tiles.mak
dat/data
dat/dlb.lst
dat/dungeon
dat/dungeon.pdf
dat/oracles
dat/porthelp
dat/quest.dat
dat/rumors
dat/ttyoptions
include/date.h
include/dgn_comp.h
include/lev_comp.h
include/onames.h
include/pm.h
include/vis_tab.h
include/win32api.h
install.bat
nethack.dsw
src/graphicschk
src/Makefile
src/Makefile.bcc
src/Makefile.gcc
src/monstr.c
src/nhdat
src/vis_tab.c
sys/winnt/NetHack.ico
*.NetHack-saved-game
*.diff